@import "../../mixin";

.Note {
    font-family: comfortaa;
    width:110%;
    height: 150px;
    text-decoration:none;
    border-radius:   0 15px 0 15px;
    -webkit-border-radius:   0 15px 0 15px;
    -moz-border-radius:   0 15px 0 15px;
    -ms-border-radius:   0 15px 0 15px;
    -o-border-radius:   0 15px 0 15px;
    border: 4px solid #8562b5;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    .likeBtn{
        font-size: 20px;
    }
    .activeLikeBtn {
        color:red;
        font-size: 20px;
    }

    .seeNote{
        color:#000;
    }
    &:hover {
        background-color: $mainC;
        color: #fff;
        filter: drop-shadow(0px 0px 20px $mainC);
        -webkit-filter: drop-shadow(0px 0px 20px $mainC);
        border-color: $mainC;

        .likeBtn{
            color : #fff;
        }
        .seeNote{
            color:#fff;
        }
}

}

