.noteList {
    display: grid;
    grid-template-columns: repeat(3 , 25%);
    justify-content: space-evenly;
    width:100%;
}


.loaderContainer{
    display:flex;
    justify-content : center;
    align-items : center;
    margin-top:30vh;
}

