.noteContainer{
    .title {
        font-family : comfortaa;
    }

    .text {
        text-align:justify;
        font-family: comfortaa;
        line-height:40px;
        text-decoration:2px underline #87ceeb;
    }
}