@import "../../mixin";

.noteContainer{
    .title {
        font-family : comfortaa;
    }

    .text {
        text-align:justify;
        font-family: comfortaa;
        line-height:40px;
        text-decoration:2px underline #87ceeb;
        overflow-wrap: break-word;
        white-space : pre-wrap;
        overflow:hidden;
    }

    div {
        button {
            @include wh(40px , 40px , 50%);
            @include flex(center , center , row);
            border:none;
            color:$mainC;
            outline:none;
            background-color:transparent;
            font-size:18px;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            &:hover{
                background-color:$mainC;
                color:#fff;
            }
        }
    }
}