.noteList {
    display: grid;
    grid-template-columns: repeat(3 , 25%);
    justify-content: space-evenly;
    width:100%;
}


.loaderContainer{
    display:flex;
    justify-content : center;
    align-items : center;
    margin-top:30vh;
}

.nothingContainer{
    * {
        margin-top:20px;
    }

    h5 {
        font-family : comfortaa;
        font-weight : 600;
        margin-top:50px;
    }

    img{
        width:250px;
    }
}

@media (max-width:890px){
    .noteList {
        display: grid;
        grid-template-columns: repeat(2 , 40%);
        justify-content: space-evenly;
        flex-direction: row-reverse;    
    }
}

@media (max-width:530px){
    .noteList {
        display: grid;
        grid-template-columns: repeat(1 , 85%);
        justify-content: space-evenly;
        flex-direction: row-reverse;
        margin-right:100px;
        position:relative;
        right:10px;
    }
}