* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}



html.darkTheme {
    filter: invert(1) hue-rotate(190deg);
    -webkit-filter: invert(1) hue-rotate(190deg);
}

html.darkTheme img{
    filter: invert(1) hue-rotate(180deg);
}

body{
    overflow-x: hidden;
}

::selection{
  background-color:#4c366b;
  color:#fff;
}

@font-face {
    font-family: "comfortaa";
    src: url("./assets/font/comfortaa/Comfortaa-Regular.otf") format("otf"),
    url("./assets/font/comfortaa/Comfortaa-Regular.ttf") format("ttf"),
    url("./assets/font/comfortaa/Comfortaa-Regular.woff") format("woff");

}


.main{
    height:fit-content;
    width:100%;
    position:relative;
    left : 16.7%;
    overflow-x:hidden;
}

.main main {
    width: 100%;
}

  body {
    scrollbar-width: auto;
    scrollbar-color: #510566 #cfcfcf;
  }

  body::-webkit-scrollbar {
    width: 16px;
  }

  body::-webkit-scrollbar-track {
    background: #cfcfcf;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #510566;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  @media (max-width:1200px){
    .main{
      left : 0;
      width:100%;
  }
  .main main {
    width: 100%;
  }   
  }
