* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #f1f1f1;
    overflow-x: hidden;
}

@font-face {
    font-family: "comfortaa";
    src: url("./assets/font/comfortaa/Comfortaa-Regular.otf") format("otf"),
    url("./assets/font/comfortaa/Comfortaa-Regular.ttf") format("ttf"),
    url("./assets/font/comfortaa/Comfortaa-Regular.woff") format("woff");

}


.main{
    z-index: -1;
    position : relative;
    height:fit-content;
    top : 70px;
    left : 16.7%;
    overflow:hidden;
}

.main main {
    width: 100%;
}
